*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-family: inherit;
  background: inherit;
  color: inherit;
}

li {
  list-style-type: none;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  padding: 8rem 0;
}

.title {
  font-size: 4.5rem;
}

.instructions {
  font-size: 2rem;
}

.buttons {
  margin-top: 4rem;
  display: flex;
  gap: 4rem;
  align-items: center;
}

.btn {
  padding: 3rem;
  border: black solid 4px;
  border-radius: 1rem;
  cursor: pointer;
}

.btn,
.btn * {
  transition: all 0.2s;
}

.btn:hover {
  background: black;
  color: white;
}

svg {
  background: rgba(0, 0, 0, 0);
}
