*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-family: inherit;
  background: inherit;
  color: inherit;
}

li {
  list-style-type: none;
}

svg {
  background: rgba(0, 0, 0, 0);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  padding: 8rem 0;
}

.title {
  font-size: 4.5rem;
}

.instructions {
  font-size: 2rem;
}

.options {
  margin-top: 4rem;
  display: flex;
  gap: 4rem;
  align-items: center;
}

.option {
  padding: 3rem;
  border: black solid 4px;
  border-radius: 1rem;
  cursor: pointer;
}

.option,
.option * {
  transition: all 0.2s;
}

.option:hover {
  background: black;
  color: white;
}

.outcome {
  font-size: 2rem;
  margin-top: 2rem;
}

.points {
  display: flex;
  /* flex-direction: column; */
  gap: 6rem;
}

.points *,
.rounds {
  font-size: 2rem;
  font-weight: bold;
}

.points span,
.rounds span {
  font-weight: normal;
}

.rounds {
  margin-top: 3rem;
}
